@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
.logo-container h2 {
    font-family: "Hurricane", cursive;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-left: 1rem;
}

 .kerdes {
    font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
    font-weight: 550;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    height: 40px;
}


.szamalk {
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
* {
    font-family: "Poppins", sans-serif;
}
.szamalk .main {
    font-size: 1.4rem;
    font-weight: 600;

    padding-top: 1rem;
}
.szamalk .main .main-alt {
    text-transform: uppercase;
}
.szamalk .alt {
    font-size: 1.2rem;
}
.szamalk-logo {
    filter: grayscale(0%) !important;
}
.logo-link img {
    margin: auto;
    margin-top: 1rem;
    width: 100px;
    height: 100px;
}
.email-csefy {
    font-size: 1.2em;
    color:red;
    font-weight: bold;

}
button {
    width: 99%;
    margin: auto;
    padding: 0.5rem;
    background-color: #1877f2 !important;
    justify-content: center;
    color: white;
    border-radius: 8px;
    border: none;

    cursor: pointer;
}
